<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Fox35 NewsTalk</title>
  <link href="../../public/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <link href="../../public/css/small-business.css" rel="stylesheet">
</head>
<body>
{{{body}}}
  <!-- Bootstrap core JavaScript -->
  <script src="../../public/vendor/jquery/jquery.min.js"></script>
  <script src="../../public/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>
</html>