  <div class="container container-fluid">
    <div class="row align-items-center my-5">
      <div class="col-lg-7">
        <img class="img-fluid" src="https://www.broadcastingcable.com/.image/c_limit%2Ccs_srgb%2Cq_auto:good%2Cw_750/MTU0MjAzNDk1NTYyNjgzNzU4/fox-35jpg.webp" alt="">
      </div>

      <div class="col-lg-5">
        <h1 class="font-weight-light">Fox35 NewsTalk!</h1>
        <p>This is a place to discuss all things happening locally in the news!  Click below for the latest headlines and be sure to opine in the comment section under your favorite stories!</p>
        {{!-- <a class="btn btn-primary scrape" action="/scrape" method="get">Join the Conversation!</a> --}}
      </div>
    </div>

    <div class="row">
      {{#each story}}
      {{#if this.img}}
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <div class="card-body">
            <p class="card-text"><img src="{{this.img}}"><br>
            {{this.title}}<br>
            <a href="{{this.link}}" target="blank">Read Full Story</a></p>
          </div>
          <div class="card-footer">
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#commentModal">
          Leave a Comment!</button>
          </div>
        </div>
      </div>

<!-- Modal -->
<div class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">{{story.title}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <div class="modal-body">
    <form action="/api/createNote" method="get">
        <div class="form-group">
          <label for="exampleFormControlInput1">Email address</label>
          <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com">
        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Your comments:</label>
        <textarea class="form-control" id="body" rows="3" name="body"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" data-dismiss="modal" class="btn btn-primary post-comment">Save changes</button>
      </div>
    </form>
    </div>
  </div>
</div>
      {{/if}}
      {{/each}}

    </div>
  </div>

  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">made by the Fresh Coconut</p>
    </div>
  </footer>
